// fonts
$font-main: "EB Garamond", serif;
$font-number: "Cormorant Garamond", serif;
$font-accent: "Great Vibes", cursive;
// colors
$color-main: #2F2F2F;
$color-accent: #3b6d57;
$bg-primary: #ffffff;
$bg-accent: #3b6d57;
// other
$anim-time: 300ms;
$breakpoint-md: 1200px;
$breakpoint-sm: 767px;
$breakpoint-xs: 390px;