.footer {
    padding-block: 3rem;
}

.footer .container {
    display: grid;
    justify-content: center;
    justify-items: center;
}

.footer__link {
    font-size: 1.8rem;
    text-decoration: none;
    padding: .5rem;
}
