.footer {
    background-color: #4d4a4a;
}

.footer__link {
    width: 100%;
    font-family: $font-text;
    text-decoration: none;
    padding: 2rem 0;

    .container {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;

        font-size: 2rem;
        color: #FFF;
    }
}

.footer__name {
    display: inline-block;
}