.guest {
    position: relative;
    padding-bottom: 5rem;
    padding-top: 2rem;
}

.guest__title {
    position: relative;
    z-index: 1;
    margin-bottom: 5rem;
}

.guest__list {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}

.guest__item {
    position: relative;
    display: flex;
    align-items: center;
    gap: 2.4rem;

    &::before {
        content: '';
        position: absolute;
        bottom: -7.5rem;
        left: 15rem;
        width: 14rem;
        height: 10rem;
        background-image: url(../img/line-bottom.png);
    }

    &:nth-child(2n) {
        flex-direction: row-reverse;
        text-align: right;

        &::before {
            background-image: url(../img/line-top.png);
            background-size: contain;
        }
    }

    &:last-child {
        &::before {
            display: none;
        }
    }
}

.guest__image {
    position: relative;
    min-width: 17rem;
    width: 17rem;
    height: 17rem;
    border-radius: 50%;

    &--item {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        border-radius: 50%;
    }
}

.guest__name {
    font-family: $font-number;
    font-size: 2.6rem;
}

.guest__desc {
    font-size: 2rem;
}