.guest {
    position: relative;
    padding-bottom: 5rem;
    padding-top: 5rem;
    background: url(../img/guest-bg.png) no-repeat center / cover;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 10rem;
        background-image: linear-gradient(to bottom, #FFFFFF, #ffffff00);
    }

    &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 10rem;
        background-image: linear-gradient(to bottom, #ffffff00, #ffffff);
    }
}

.guest__title {
    position: relative;
    z-index: 1;
    margin-bottom: 5rem;
}

.guest__list {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    gap: 5rem;
}

.guest__item {
    display: flex;
    align-items: center;
    gap: 2.4rem;

    &:nth-child(2n) {
        flex-direction: row-reverse;
        text-align: right;
    }
}

.guest__image {
    position: relative;
    min-width: 17rem;
    height: 17rem;
    border-radius: 50%;

    &::before {
        content: '';
        position: absolute;
        top: -.3rem;
        left: -.3rem;
        width: calc(100% + .6rem);
        height: calc(100% + .6rem);
        border-radius: 50%;
        border: .1rem solid #ec9913;
    }
    
    &::after {
        content: '';
        position: absolute;
        top: -.7rem;
        left: -.7rem;
        width: calc(100% + 1.4rem);
        height: calc(100% + 1.4rem);
        border-radius: 50%;
        border: .2rem solid #ec9913;
    }

    &--item {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        border-radius: 50%;
    }
}

.guest__name {
    font-family: $font-number;
    font-size: 3rem;
}

.guest__desc {
    font-size: 2rem;
}