.register {
    padding-bottom: 10rem;
}

.register__title {
    margin-bottom: 3rem;
}

.register__desc {
    font-size: 2.8rem;
    text-align: center;
    margin-bottom: 3rem;
    font-weight: 500;

    span {
        color: #ed6565;
    }
}

.register__list {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.register__item {
    position: relative;
    background-color: #4d4a4a;
    color: #FFF;
    border-radius: 1.5rem;
    padding: 2rem;
    font-family: $font-text;
}

.register__region {
    font-size: 2.5rem;
    font-weight: 400;
    margin-bottom: 2rem;
}

.register__name {
    font-size: 2.1rem;
    margin-bottom: 1rem;
    font-weight: 300;
    margin-bottom: 1rem;
    max-width: 30rem;

    display: flex;
    align-items: center;
    gap: 1rem;
}

.register__phone {
    font-size: 1.8rem;
    font-weight: 300;

    display: flex;
    align-items: center;
    gap: 1rem;
}

.register__link {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: #4d4a4a;
    border: .3rem solid #FFF;
    text-decoration: none;

    font-size: 1.8rem;
    font-weight: 300;
    padding: 1.5rem 2rem;
    border-bottom: none;
    border-right: none;
    border-top-left-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
}

.register__warning {
    font-size: 1.4rem;
    margin-left: 3.8rem;
    color: #c79822;
}